{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'css/s.css' %}" rel="stylesheet"/>
    <title>CRM</title>
</head>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header_div">
<!--                                <div class="header__logo"><img src="/static/image/icons8-crm-система-microsoft-dynamics-31.png"></div>-->
<!--                                <div class="header__logo"><img src="/static/image/001-relationship.png"></div>-->
<!--                                <div class="header__logo"><img src="/static/image/002-campaign.png"></div>-->
                <div class="header__logo"><img src="/static/image/003-crm.png"></div>
                <nav class="nav">
                    <ul>
                        <li><a class="nav_link" href="#">+</a>
                            <ul>
                                <li><a href="{% url 'add_company' %}">Компанию</a></li>
                                <li><a href="{% url 'add_proposal' %}">Заявку</a></li>
                                <li><a href="{% url 'add_deal' %}">Сделку</a></li>
                                <li><a href="{% url 'add_contacts' %}">Контакта</a></li>
                                <li><a href="{% url 'add_employee' %}">Сотрудника</a></li>
                                <li><a href="{% url 'add_tasks' %}">Задачу</a></li>
                                <li><a href="{% url 'add_payment' %}">Оплату</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'company' %}">Компании</a></li>
                        <li><a class='choice_top' href="{% url 'proposal' %}">Заявки</a></li>
                        <li><a href="{% url 'deal' %}">Сделки</a></li>
                        <li><a href="{% url 'contacts' %}">Контакты</a></li>
                        <li><a href="{% url 'employee' %}">Сотрудники</a></li>
                        <li><a href="{% url 'tasks' %}">Задачи</a></li>
                        <li><a href="{% url 'payment' %}">Оплаты</a></li>
                    </ul>
                </nav>
            </div>
            <nav class="nav">
                <a href="#">Выйти</a>
            </nav>
        </div>
    </div>
</header>

<body>
<div class="intro">
    <div class="container">
        <div class="left_menu">
            <a class="left_choice" href="#">🏠</a>
            <a class="left_choice" href="#">✉</a>
            <a class="left_choice" href="#">📞</a>
            <a class="left_choice" href="#">☎</a>
            <a class="left_choice" href="{% url 'chart' %}">📊</a>
            <a class="left_choice" href="#">📈</a>
        </div>
        <div class="intro__inner">
            <div class="menu__inner">
                <div class="list_table">Добавление заявки</div>
                <!--                <div><a class="add__link" href="{% url 'add_employee' %}">+</a></div>-->
                <div></div>
            </div>
            <div class="add_employee">
                <div class="add_center">
                    <form method="post" id="data_add">
                        {% csrf_token %}
                        {% for f in form %}
                        <nav class="add_nav">
                            <div class="add_nav_div">
                                <div class="right_text"><label for="{{ f.id_for_label }}">{{ f.label }}:</label></div>
                                <div class="left_text">{{ f }}</div>
                            </div>
                        </nav>
                        <div class="form-error">{{ f.errors }}</div>
                        {% endfor %}
                    </form>
                    <input class="nav__link_add" type="submit" form="data_add" value="Добавить">
                    <a class="nav__link_cancel" href="{% url 'proposal' %}">Отмена</a>
                    <!--                <input class="nav__link_add" type="submit" form="data_add" value="Отмена">-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>