{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'css/s.css' %}" rel="stylesheet"/>
    <title>CRM</title>
</head>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header_div">
                <!--                <div class="header__logo"><img src="/static/image/icons8-crm-система-microsoft-dynamics-31.png"></div>-->
                <!--                <div class="header__logo"><img src="/static/image/001-relationship.png"></div>-->
                <!--                <div class="header__logo"><img src="/static/image/002-campaign.png"></div>-->
                <div class="header__logo"><img src="/static/image/003-crm.png"></div>
                <nav class="nav">
                    <ul>
                        <li><a class="nav_link" href="#">+</a>
                            <ul>
                                <li><a href="{% url 'add_company' %}">Компанию</a></li>
                                <li><a href="{% url 'add_proposal' %}">Заявку</a></li>
                                <li><a href="{% url 'add_deal' %}">Сделку</a></li>
                                <li><a href="{% url 'add_contacts' %}">Контакта</a></li>
                                <li><a href="{% url 'add_employee' %}">Сотрудника</a></li>
                                <li><a href="{% url 'add_tasks' %}">Задачу</a></li>
                                <li><a href="{% url 'add_payment' %}">Оплату</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'company' %}">Компании</a></li>
                        <li><a href="{% url 'proposal' %}">Заявки</a></li>
                        <li><a class='choice_top' href="{% url 'deal' %}">Сделки</a></li>
                        <li><a href="{% url 'contacts' %}">Контакты</a></li>
                        <li><a href="{% url 'employee' %}">Сотрудники</a></li>
                        <li><a href="{% url 'tasks' %}">Задачи</a></li>
                        <li><a href="{% url 'payment' %}">Оплаты</a></li>
                    </ul>
                </nav>
            </div>
            <nav class="nav">
                <a href="#">Выйти</a>
            </nav>
        </div>
    </div>
</header>

<body>
<div class="intro">
    <div class="container">
        <div class="left_menu">
            <a class="left_choice" href="#">🏠</a>
            <a class="left_choice" href="#">✉</a>
            <a class="left_choice" href="#">📞</a>
            <a class="left_choice" href="#">☎</a>
            <a class="left_choice" href="{% url 'chart' %}">📊</a>
            <a class="left_choice" href="#">📈</a>
        </div>
        <div class="intro__inner">
            <div class="menu__inner">
                <div class="list_table">Все сделки</div>
                <div class="search">
                    <input class="form-control" type="text" placeholder="Поиск" id="search-text" onkeyup="tableSearch()">
                </div>
                <div><a class="add__link" href="{% url 'add_deal' %}">+</a></div>
            </div>
            <table class="table table-striped" id="info-table">
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Этап</th>
                    <th>Статус</th>
                    <th>Цена</th>
                    <th>Прибиль</th>
                    <th>Контакт</th>
                    <th>Сотрудник</th>
                    <th>Описание</th>
                    <th>Время создания</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>
                {% for d in deal %}
                    <tr>
                        <td>{{ d.id }}</td>
                        <td>{{ d.proposal }}</td>
                        <td>{{ d.stage }}</td>
                        <td>{{ d.status }}</td>
                        <td>{{ d.price }}</td>
                        <td>{{ d.profit }}</td>
                        <td>{{ d.contacts }}</td>
                        <td>{{ d.employee }}</td>
                        <td>{{ d.description }}</td>
                        <td>{{ d.time_create }}</td>
                        <td><a class='edit__link' href="{{ d.get_absolute_url }}">✎</a></td>
                        <td><a class="del__link" href="{{ d.get_id }}"
                               onClick="return window.confirm('Пожалуйста подтвердите удаление');">❌</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script>
    function tableSearch() {
    var phrase = document.getElementById('search-text');
    var table = document.getElementById('info-table');
    var regPhrase = new RegExp(phrase.value, 'i');
    var flag = false;
    for (var i = 1; i < table.rows.length; i++) {
        flag = false;
        for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
            flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
            if (flag) break;
        }
        if (flag) {
            table.rows[i].style.display = "";
        } else {
            table.rows[i].style.display = "none";
        }

    }
}</script>
</body>
</html>