{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'css/stylee.css' %}" rel="stylesheet"/>
    <title>Title</title>
</head>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header_div">
                <div class="header__logo"><img src="/static/image/icons8-crm-система-microsoft-dynamics-31.png"></div>
                <nav class="nav">
                    <ul>
                        <li><a class="nav_link" href="#">+</a>
                            <ul>
                                <li><a href="#">Компанию</a></li>
                                <li><a href="#">Заявку</a></li>
                                <li><a href="#">Сделку</a></li>
                                <li><a href="#">Контакта</a></li>
                                <li><a href="#">Сотрудника</a></li>
                                <li><a href="#">Задачу</a></li>
                                <li><a href="#">Оплату</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Компании</a></li>
                        <li><a href="#">Заявки</a></li>
                        <li><a href="#">Сделки</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a class='choice_top' href="#">Сотрудники</a></li>
                        <li><a href="#">Задачи</a></li>
                        <li><a href="#">Оплаты</a></li>
                    </ul>
                </nav>
            </div>
            <nav class="nav">
                <a href="#">Выйти</a>
            </nav>
        </div>
    </div>
</header>

<body>
<div class="intro">
    <div class="container">
        <div class="left_menu">
            <a class="left_choice" href="#">🏠</a>
            <a class="left_choice" href="#">✉</a>
            <a class="left_choice" href="#">📞</a>
            <a class="left_choice" href="#">☎</a>
            <a class="left_choice" href="#">📊</a>
            <a class="left_choice" href="#">📈</a>
        </div>
        <div class="intro__inner">
            <div class="menu__inner">
                <div class="list_table">Все сотрудники</div>
                <div><a class="add__link" href="#">+</a></div>
            </div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Дата рождения</th>
                    <th>Номер</th>
                    <th>Должность</th>
                    <th>e_mail</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>
                {% for i in employee %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.date_of_birth}}</td>
                    <td>375{{i.phone_number}}</td>
                    <td>{{i.post}}</td>
                    <td>{{i.e_mail}}</td>
                    <td><a class='edit__link' href="#">✎</a></td>
                    <td><a class="del__link" href="#">❌</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</body>
</html>